.list {
  width: 100%;
  margin-top: 10px;
  .list-title {
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
  }
  .carousel {
    margin-top: 25px;
    overflow: visible;
    .item:hover {
      z-index: 1;
    }
  }
}
