.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin: 25px;
    .label {
        margin-left: 25px;
    }
}